@import "~@blockware/ui-web-components/styles/values.less";
@import "~@blockware/ui-web-components/styles/functions.less";

.rest-resource-editor {
    padding-top: 10px;
    background-color: inherit;

    .editor {
        min-height: 500px;
        height: 500px;
        margin-right: 10px;
    }

}