@import "~@blockware/ui-web-components/styles/values.less";
@import "~@blockware/ui-web-components/styles/functions.less";

.rest-resource-editor {
    padding-top: 10px;
    background-color: inherit;

    ul,li {
        margin:0;
        padding:0;
        list-style: none;
    }

    li {
        .fade-in(0.2);
    }

    >.form-element-container {
        width: auto;
        margin: 15px 10px;
    }

    .methods-container {
        padding:5px 0;

        .rest-method {
            margin:5px 0;
            padding:10px;
            border: 0.5px solid @gray;

            &:hover {
                .drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.30));

                .delete-icon, .edit-icon {
                    display: inline-block;
                    .fade-in(0.3);
                }
            }
        }


        .rest-method {

            .svg-icon {
                width: 20px;
                height: 20px;
                cursor: pointer;
                .border-radius(3px);
                &:hover {
                    .drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.24));
                }
            }

            .form-container {
                padding: 10px;

                > .form-horizontal-rows {
                    padding: 10px 0px;
                }
            }

            .edit-icon {
                padding-right: 5px;
                display: none;
                >svg:active {
                    path:first-of-type {
                        fill: lighten(@cyan-dark, 10%);
                    }
                } 
            }

            .delete-icon {
                display: none;
                >svg:active {
                    path:first-of-type {
                        fill: lighten(@bw-orange, 10%);
                    }
                } 
            }

            &.viewing {

                > .actions {
                    float:right;
                    position: relative;
                    top: 11px;
                    right: 10px;
                }
            }

            &.editing {
                
                .method-label {
                    display: inline-block;
                    font-weight: 500;
                    line-height: 24px;
                    color: @gray-xdark;
                    margin: 10px 15px 5px 5px;
                }

                .delete-icon {
                    float: right;
                    padding: 10px;
                }

                hr {
                    border: 0.25px solid @gray;
                    margin: 0 10px;
                }
                
                .container-checkbox {
                    margin: 15px 10px 15px 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    .arguments-checkbox {
                        cursor: pointer;
                    }

                    span {
                        padding-left: 10px;
                        font-size: 14px;
                    }
                }

                .form-section {
                    padding:10px;
                    background-color: #CCC;
                    margin:10px 0;

                    h4,
                    .row-label {
                        color: white;
                    }
                }

                .method-argument {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-flow: row-reverse;
                    align-content: baseline;

                    > .form-horizontal-rows {
                        flex:1;
                    }

                    > .actions {
                        width: 70px;
                        margin-left: 10px;
                        vertical-align: bottom;
                        padding-top: 22px;
                        .form-button {
                            line-height: 20px;
                        }
                    }

                    &.new {
                        display: block;
                        margin-right: 80px;
                    }
                }

                .rest-method-path {
                    background-color: inherit;
                    > .rest-http-method {
                        background-color: inherit;
                        min-width: 160px;
                        flex: 0;
                        padding-right: 10px;
                        
                        input {
                            padding-right: 30px;
                        }
                    }

                    > .rest-http-path {
                        background-color: inherit;
                        flex: 1;
                    }
                }
            }

        }
    }
}