@import "~@blockware/ui-web-components/styles/values.less";
@import "~@blockware/ui-web-components/styles/functions.less";

.rest-resource-method-editor,
.rest-resource-editor {
    background-color: white;

    ul,li {
        margin:0;
        padding:0;
        list-style: none;
    }

    li {
        .fade-in(0.2);
    }


    .svg-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        .border-radius(3px);
    }

    .delete-icon,
    .save-icon,
    .edit-icon,
    .add-icon {
        display: inline-block;
    }

    .edit-icon {
        padding-right: 5px;
        > svg:active,
        &:hover {
            path:first-of-type {
                fill: lighten(@cyan-dark, 10%);
            }
        }
    }

    .delete-icon {
        >svg:active,
        &:hover{
            path:first-of-type {
                fill: lighten(@bw-orange, 10%);
            }
        }
    }

    .add-icon {
        >svg:active,
        &:hover{
            path:first-of-type {
                fill: lighten(@green-dark, 10%);
            }
        }
    }


    .add-icon {
        path {
            fill: @green-light;
        }
    }

}

.rest-resource-method-editor {

    .method-label {
        display: inline-block;
        font-weight: 500;
        line-height: 24px;
        color: @gray-xdark;
        margin: 10px 15px 5px 5px;
    }

    .textarea-wrapper,
    .form-element-container {
        max-width: 100%;
    }

    .form-section {
        width:auto;
        margin:0;
        padding:10px;
    }

    .method-arguments {
        background-color: inherit;
    }

    .method-argument {
        background-color: inherit;
        display: flex;
        flex-wrap: nowrap;
        flex-flow: row-reverse;
        align-content: baseline;

        .form-element-container {
            margin:5px;
        }

        .checkbox-container {
            padding:10px;
        }

        > .form-horizontal-rows {
            flex:1;
        }

        .transport {
            background-color: inherit;
        }

        .dropdown-input {
            max-width: 150px;
        }

        > .actions {
            width: 30px;
            margin-left: 10px;
            vertical-align: bottom;
            padding-top:10px;

            .form-button {
                line-height: 20px;
            }
        }
    }

    .rest-method-path {
        background-color: inherit;
        > .rest-http-method {
            background-color: inherit;
            min-width: 160px;
            flex: 0;
            padding-right: 10px;

            input {
                padding-right: 30px;
            }
        }

        > .rest-http-path {
            background-color: inherit;
            flex: 1;
        }
    }
}

.rest-resource-editor {
    padding-top: 10px;
    background-color: inherit;

    >.form-element-container {
        width: auto;
        margin: 15px 10px;
    }

    .methods-container {
        padding:5px 0;

        .rest-method {
            margin:5px 0;
            padding:10px;
            border: 0.5px solid @gray;

            > .actions {
                float:right;
                position: relative;
                top: 11px;
                right: 10px;
            }
        }
    }
}