@import "~@blockware/ui-web-components/styles/values.less";
@import "~@blockware/ui-web-components/styles/functions.less";

.rest-method-erasure {
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    padding: 0 50px 0 10px;

    .method,
    .path {
        text-overflow: ellipsis;
        width: 320px;
        overflow-x: hidden;
    }

    .method {
        font-family: monospace;
        white-space: nowrap;


        .type {
            color: @blue-dark;
        }

        .name {
            color: @green-xlight;
        }

        .method-name {
            font-weight: 600;
            color: @gray-xdark;
        }

        .method-definition-start,
        .method-definition-end {
            color: #666;
        }

        .method-argument, .type,.name {
            margin:0 2px;

        }

        .transport {
            color: #999;
            margin-left: 2px;
        }

        .method-argument:last-child {
            .separator {
                display: none;
            }
        }
    }

    .path {
        font-family: monospace;
        text-overflow: ellipsis;

        .label {
            color: @gray-xdark;
            font-weight: 600;
        }

        .http-method {
            margin-left: 5px;
            color: @blue-dark;
        }

        .http-path {
            margin-left: 5px;
            color: @green-xlight;
        }
    }

    &.compact {
        .path {
            display: none;
        }
        .method-argument {
            .type-separator,
            .transport,
            .type {
                display: none;
            }
        }
    }
}